/* PKP OFFICIAL RGB CODES
 *********************************
 * Red: rgb(196, 18, 48)
 * Green: rgb(0, 112, 60)
 * Yellow: rgb(238, 178, 17)
 *********************************
 */

html, body {
	height: 100%;
	margin: 0;
}
body {
	background-size: 100%;
	color: black;
}
* {
	box-sizing: border-box;
}
input {
	border: solid white;
}
/* Create three equal columns that floats next to each other */
.row {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.center {
    text-align: center;
}
input {
    margin-bottom: 10px;
    border-radius: 5px;
}
select {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
button {
    border-radius: 2px;
    border-style: none;
	background-color: rgb(0, 112, 60);
	margin-bottom: 10px;
}
button:hover {
    background-color: rgb(105, 192, 105);
}
/* Tooltip styling */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
/* Color presets */
.gold {
	color: gold;
}
.red {
	color: rgb(255, 65, 65);
}
.blue {
	color: rgb(79, 79, 255);
}


/******************** Custom Stylings ********************/

/* Login Page */
.loginBackground {
    background-image: url("/images/gt_background.jpg");
     /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginShieldContainer {
    width: 50%;
    margin: auto;
}
.loginShieldContainer img {
    margin: auto;
}
#loginShield {
    margin: auto;
}
#loginContainer {
    background: rgba(196, 18, 48, 0.836);
	color: black;
	border-radius: 5px;
}
.assignInput {
	border: 1px solid rgb(196, 18, 48);
}
.buttonCenter {
	margin: auto;
}
.assignButton {
	background-color: transparent;
	border: 1px solid grey;
	border-radius: 3px;
	margin-left: 5px;
}
.assignButton:hover {
	background-color: transparent;
	box-shadow: 0 1px 2px 0 rgb(0, 112, 60, 0.5), 0 2px 3px 0 rgb(0, 112, 60, 0.5);
}
.deleteGroupButton {
	background-color: transparent;
	margin: auto;
	text-align: center;
}
.deleteGroupButton:hover {
	background-color: transparent;
	color: rgb(196, 18, 48);
}
#submitPointsButton h2 {
	margin-bottom: 0px;
}
.DataTable {
	width: 100%;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: 1px solid rgb(196, 18, 48);
	text-align: left;
	padding: 8px;
}
th {
	text-align: center;
}
tr:hover {
	background-color: rgb(185, 185, 185);
}
.assign h3 {
	margin-bottom: 10px;
	border-bottom: 1px solid transparent;
}
.assign h3:hover {
	border-bottom: 1px solid rgb(0, 112, 60);
	transition: 0.5s;
}
.assign h3:hover i {
	color: rgb(196, 18, 48);
	transition: 0.5s;
}
.assign select {
	margin-left: 10px;
}
.assign input {
	margin-left: 10px;
}

.filterButton {
	background-color: rgb(196, 18, 48, 0.7);
	margin-bottom: 10px;
}
.filterButton:hover {
	background-color: rgb(242, 131, 150, 0.7);
	margin-bottom: 10px;
}
 
#ledgerSearchInput {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: 1px solid  rgb(196, 18, 48);
	margin-bottom: 10px;
  }

/* Home Page */
.homeBackground {
	background-color: snow;
}


/**************** Color Classes ****************/
.pkpgreen {
	color: rgb(0, 112, 60);
}

.pkpred {
	color: rgb(196, 18, 48);
}

.pkpyellow {
	color: rgb(238, 178, 17);
}

.fontblack {
	color: black;
}

.fontwhite {
	color: white;
}