/* PKP OFFICIAL RGB CODES
 *********************************
 * Red: rgb(196, 18, 48)
 * Green: rgb(0, 112, 60)
 * Yellow: rgb(238, 178, 17)
 *********************************
 */

html, body {
	height: 100%;
	margin: 0;
}
body {
	background-size: 100%;
	color: black;
}
* {
	box-sizing: border-box;
}
input {
	border: solid white;
}
/* Create three equal columns that floats next to each other */
.row {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.center {
    text-align: center;
}
.redTitle {
	background: rgba(196, 18, 48, 0.8);
	color: black;
	border-radius: 5px;
}
input {
    margin-bottom: 10px;
    border-radius: 5px;
}
select {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
a {
	border-bottom: 1px solid transparent;
}
a:hover {
	text-decoration: none;
	border-bottom: 1px solid rgb(238, 178, 17);
	transition: 0.5s;
}
button {
    border-radius: 2px;
    border-style: none;
	background-color: rgb(0, 112, 60);
	margin-bottom: 10px;
}
button:hover {
    background-color: rgb(105, 192, 105);
}
/* Tooltip styling */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
/* Color presets */
.gold {
	color: gold;
}
.red {
	color: rgb(255, 65, 65);
}
.blue {
	color: rgb(79, 79, 255);
}


/******************** Custom Stylings ********************/

/* Login Page */
.loginBackground {
    background-image: url("/images/gt_background.jpg");
     /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginShieldContainer {
    width: 50%;
    margin: auto;
}
.loginShieldContainer img {
    margin: auto;
}
#loginShield {
    margin: auto;
}
#loginContainer {
    background: rgba(196, 18, 48, 0.836);
	color: black;
	border-radius: 5px;
}
.DataTable {
	width: 100%;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td, th {
	border: 1px solid rgb(196, 18, 48);
	text-align: left;
	padding: 8px;
}
th {
	text-align: center;
}
tr:hover {
	background-color: rgb(185, 185, 185);
}
.redInput {
	border: 1px solid rgb(196, 18, 48);
}
.deleteButton {
	background-color: transparent;
	margin: auto;
	text-align: center;
}
.deleteButton:hover {
	background-color: transparent;
	color: rgb(196, 18, 48);
}


/* Home Page */
.homeRow {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
.homeContainer {
	border: 1px solid rgba(196, 18, 48, 0.3);
	border-radius: 5px;
	width: 100%;
}
.homeContainer:hover {
	border: 1px solid rgba(196, 18, 48, 0.836);
}
.rankContainer {
	text-align: center;
}
.rankContainer:hover h1 {
	color: rgb(0, 112, 60);
}
.logContainer {
	text-align: center;
}
.graphsContainer {
	text-align: center;
}
.fraternityContainer {
	margin-top: 15px;
	text-align: center;
}
.progressContainer {
	text-align: center;
}

/* Assign Page */
.assign h3 {
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid transparent;
}
.assign h3:hover {
	border-bottom: 1px solid rgb(0, 112, 60);
	transition: 0.5s;
}
.assign h3:hover i {
	color: rgb(196, 18, 48);
	transition: 0.5s;
}
.assign select {
	margin-left: 10px;
}
.assign input {
	margin-left: 10px;
}
.buttonCenter {
	margin: auto;
}
.assignButton {
	background-color: transparent;
	border: 1px solid grey;
	border-radius: 3px;
	margin-left: 5px;
}
.assignButton:hover {
	background-color: transparent;
	box-shadow: 0 1px 2px 0 rgb(0, 112, 60, 0.5), 0 2px 3px 0 rgb(0, 112, 60, 0.5);
}
#submitPointsButton h2 {
	margin-bottom: 0px;
}
#submitPointsButton {
	border-radius: 7px;
}
.editable button {
	float: right;
	color: transparent;
}
.editable:hover button {
	color: rgb(0, 112, 60);
}


/* Admin Page */
.adminTitle {
	margin: auto;
	color: rgb(238, 178, 17);
}
.admin h2 {
	margin-bottom: 10px;
}
.admin h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
}
.admin h3:hover {
	border-bottom: 1px solid rgb(0, 112, 60, 1.0);
	transition: 0.5s;
}
.admin h3:hover i {
	color: rgb(196, 18, 48);
	transition: 0.5s;
}
.admin form {
	border-left: 1px solid rgb(0, 112, 60, 0.3);
	border-right: 1px solid rgb(0, 112, 60, 0.3);
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.admin form:hover {
	border-left: 1px solid rgb(0, 112, 60, 1.0);
	border-right: 1px solid rgb(0, 112, 60, 1.0);
}
.admin input {
	margin-left: 30px;
	margin: auto;
}
.adminButton {
	background-color: transparent;
	border: 1px solid grey;
	border-radius: 3px;
	margin-left: 5px;
}
.adminButton:hover {
	background-color: transparent;
	box-shadow: 0 1px 2px 0 rgb(0, 112, 60, 0.5), 0 2px 3px 0 rgb(0, 112, 60, 0.5);
}
.adminSubmit {
	margin: auto;
}
.adminSubmit button:hover i {
	color: black;
}
.adminSubmit button {
	border-radius: 7px;
}
#officerPositionsAdded li:hover i {
	color: red;
}
#committeeMembersAdded li:hover i {
	color: red;
}

.filterButton {
	background-color: rgb(196, 18, 48, 0.7);
	margin-bottom: 10px;
}
.filterButton:hover {
	background-color: rgb(196, 18, 48, 0.2);
	margin-bottom: 10px;
}
 
#ledgerSearchInput {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	border: 1px solid  rgb(196, 18, 48);
	margin-bottom: 10px;
  }

 #ledgerContainer {
    background: rgba(196, 18, 48, 0.836);
	color: black;
	border-radius: 5px;
	margin-bottom: 30px;
}
#ledgerTableBody tr:nth-child(even) {
	background-color: rgb(196, 18, 48, 0.2);;
}

/* Home Page */
.homeBackground {
	background-color: snow;
}




/**************** Color Classes ****************/
.pkpgreen {
	color: rgb(0, 112, 60);
}

.pkpred {
	color: rgb(196, 18, 48);
}

.pkpyellow {
	color: rgb(238, 178, 17);
}

.transparent {
	color: transparent;
}

.fontblack {
	color: black;
}

.fontwhite {
	color: white;
}